/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 62.5%;
    --green: #84cc16;
    --gray: #f3f4f6;
    --black: #171717;
    --white: #FEFEFE;
    --blue: #1d4ed8;
    --yellow: #FFD93B;
    --shadow: rgba(99, 99, 99, 0.2);
}

body {
    background-color: var(--white);
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}
/* fim reset */

/* scroll bar */
::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 1rem;
}
/* fim scroll bar */

/* dark mode */
body.dark-theme {
    background-color: var(--black);
    color: var(--white);
    transition: 0.2s;
}

body.dark-theme header,
body.dark-theme main {
    background-color: var(--black);
    transition: 0.2s;
}

body.dark-theme input {
    background-color: var(--black);
    border: .2rem solid var(--white);
    color: var(--white);
    transition: 0.2s;
}

body.dark-theme input:focus {
    outline: none;
    border-color: var(--green);
    transition: 0.2s;
}

body.dark-theme #container span {
    color: var(--green);
    transition: 0.2s;
}

body.dark-theme main header p {
    color: var(--white);
    transition: 0.2s;
}

body.dark-theme #divHeader h1 {
    color: var(--green);
    transition: 0.2s;
}
/* fim dark mode */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5em;
}

.hidden {
    display: none;
    transition: 0.2s;
}

#divHeader,
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}

#divHeader {
    width: 100%;
    padding: .5rem;
}

#divHeader h1 {
    color: var(--blue);
    transition: 0.2s;
}

#switchButton img {
    width: 2.625rem;
    height: 2.625rem;
    transition: 0.2s;
}

#switchButton button {
    border: none;
    background-color: transparent;
    transition: 0.2s;
}

#container div {
    width: 100%;
    padding: .25rem;
    color: var(--black);
}

#container p {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
}

#container span {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--blue);
    color: var(--blue);
}

main {
    width: 100%;
    min-height: 100vh;
    padding: .5rem;
    transition: 0.2s;
}

form {
    display: grid;
    padding: .5rem;
    font-size: 1.2rem;
    grid-template-areas: 'divSalarioBase divSalarioBase '
                          'divHorasTrabalhadas divDiasTrabalhadas'
                          'divDominio divHospedagemApp'
                          'divCertificadoDigital divCertificadoDigital'
                          'divServidorCache divHospedagemDatabase'
                          'divDesignProjeto divDesignProjeto'
                          'divServidorEmail divSuporte'
                          'divAtualizacoesApp divAtualizacoesApp';
}

form input {
    width: 100%;
    color: var(--blue);
    padding: .5rem;
    border-radius: .50rem;
    margin: .5rem 0;
    font-size: 1.2rem;
    border: .2rem solid var(--blue);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

form input:focus {
    outline: none;
    border-color: var(--yellow);
    transition: 0.2s;
}

form label {
    font-size: 1.2rem;
}

#divSalarioBase {
    grid-area: divSalarioBase;
}

#divHorasTrabalhadas,
#divDominio,
#divServidorCache,
#divServidorEmail {
    margin-right: .25rem;
}

#divDiasTrabalhadas,
#divHospedagemApp,
#divHospedagemDatabase,
#divSuporte {
    margin-left: .25rem;
}

#divHorasTrabalhadas {
    grid-area: divHorasTrabalhadas;
}
#divDiasTrabalhadas {
    grid-area: divDiasTrabalhadas;
}
#divDominio {
    grid-area: divDominio;
}
#divHospedagemApp {
    grid-area: divHospedagemApp;
}
#divCertificadoDigital {
    grid-area: divCertificadoDigital;
}
#divServidorCache {
    grid-area: divServidorCache;
}
#divHospedagemDatabase {
    grid-area: divHospedagemDatabase;
}
#divDesignProjeto {
    grid-area: divDesignProjeto;
}
#divServidorEmail {
    grid-area: divServidorEmail;
}
#divSuporte {
    grid-area: divSuporte;
}
#divAtualizacoesApp {
    grid-area: divAtualizacoesApp;
}
